.bg-000{
    background: #000 !important;
}
.text-777{
    color: #777;
}

.bg-hover{
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 5;
    bottom: -1200px;
    transition:all 1.5s;
    width: 95%;
}
.img-hover:hover .bg-hover{
    transition: all 1.5s;
    bottom: 0px;
}
.z-index-1{
    z-index: 10;
}

ul {
    list-style-type: none;
}
ul li {
    top: 1000px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.red-hover:hover {
    color:#ff655ced !important;
}
.active {
    left: 0;
}
.sidebar {
    top: 0px;
    left: -252;
}
.side-bar-line {
    top: 0%;
    left: 0px;
    z-index: 20;
}
#sideBarBtn {
    cursor: pointer;
}

@media screen and (max-width: 992px){
    .bg-hover {
            width: 96%;
        }
    .width-of-div {
        width: 70%;
        left: 165px;
    }
}
